# Visual Studio
.vs/
x64/

# Build
Debug/
Release/
build/

# Compiled files
*.exe
*.dll
*.obj
*.pdb
*.ilk

# Visual Studio user files
*.user
*.suo

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake